.column {
  width: 300px;
  float: left;
  padding: 10px;
}

img {
  height: 120px;
  width: 250px;
}

.brown {
  background-color: brown;
}

.gray {
  background-color: gray;
}

.gold {
  background-color: gold;
}